.friends {
    display:flex;
   
    justify-content: space-evenly;
    height: 950px;
   
}

.prisons {
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #F4F3F3;
    margin-top: 30px;
   
}

.prisoners {
    margin-top: 20px;
}

.prisonsAndInmates {
    margin-top: 36px;
    border-radius: 12px;
    border: 2px solid #979797;
    display:flex;
    flex-direction:column;
    width: 600px;
    height: 800px;
    background-color: #ffffff;
}

.prisonArea {
    display:flex;
    width: 95%;
    justify-content: space-evenly;
}

.searchSquare {
    margin-top: 36px;
        font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding-top: 25px;
	border-radius: 12px;
	border: 2px solid #979797;
	width: 25%;
	display:flex;
	flex-direction: column;
	height: 725px;
	background-color: #ffffff;
}

.filtered {
       font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #F4F3F3;
    margin-top: 25px;
   
}

.notFiltered {
    display:flex;
    flex-direction: column;
}

p {
    font-size: 25px;
}

.backgroundWrap {
    height: 100%;
    background-color: #166CCB
}


.submit {
    margin-left: 15px;
	height: 45px;
	width: 110px;
	border-radius: 9px;
	background-color: #ffffff;
	font-size: 16px;

}

.submit:hover {
    background-color: #166CCB
}

.prisonInput {
	height: 47px;
	width: 250px;
	border: 1px solid #979797;
	margin-right: 10px;
	text-align: center;
	font-size: 18px;
}

.prisonButton {
	height: 65px;
	width: 75px;
	border-radius: 7px;
	background-color: #fffff;
	font-size: 18px;
}
